{
  "presets": [
    "@babel/typescript",
    "@babel/react",
    "@babel/stage-3",
    ["@babel/env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-decorators",
    ["relay", { "artifactDirectory": "./src/__generated__" }],
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "minify": true,
        "transpileTemplateLiterals": true
      }
    ],
    ["transform-string-literal-replace", {
      "../src/__generated__": "./__generated__"
    }]
  ],
  "env": {
    "test": {
      "plugins": [
        [
          "styled-components",
          {
            "ssr": true
          }
        ]
      ]
    }
  }
}
