{
  "presets": [
    "@babel/typescript",
    "@babel/react",
    ["@babel/env", {
      "targets": {
        "browsers": ["last 2 versions"]
      },
    }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-class-properties",
    ["relay", { "artifactDirectory": "./src/__generated__" }],
    [
      "styled-components",
      {
        "ssr": true
      }
    ],
    ["transform-rename-import", {
      "original": "..\/src\/__generated__",
      "replacement": "$1.\/__generated__"
    }],
    ["module-resolver", {
      "extensions": [".js", ".jsx", ".ts", ".tsx"],
      "root": ["./src"],
      "alias": {
        "storybook": "./src/__stories__",
        "Analytics": "./src/Analytics",
        "Assets": "./src/Assets",
        "Components": "./src/Components",
        "Styleguide": "./src/Styleguide",
        "package.json": "./package.json"
      }
    }],
    "lodash"
  ]
}
