[submodule "externals/elan"]
	path = externals/elan
	url = https://github.com/artsy/elan.git
[submodule "externals/metaphysics"]
	path = externals/metaphysics
	url = https://github.com/artsy/metaphysics.git
