.DS_Store
.awcache
.cache
.cache-loader
.env
.eslintcache
.tsbuildinfo
.vscode/cSpell.json
*.tgz
assets/reaction-force.js
public/assets/fonts
dist
dist
node_modules
npm-debug.log
out*
package-lock.json
tsconfig.tsbuildinfo
reaction-force.js
reaction-force.js.map
yarn-error.log
.yalc
yalc.lock
coverage*
tsconfig.tsbuildinfo
reports*
2

# Diagnostic reports (https://nodejs.org/api/report.html)
report.*.json
