doctype html
html
  head
    link( type='text/css', rel='stylesheet', href= assets('stylesheets/index.css') )
    link( type='text/css', rel='stylesheet', href='//fast.fonts.net/cssapi/f7f47a40-b25b-44ee-9f9c-cfdfc8bb2741.css' )
    link( rel='icon', href= assets('images/favicon.ico') )

    block head

  body
    block body

    script( src='//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js' )
    script( src= assets('javascripts/index.js') )
