version: 2.1

orbs:
  node: artsy/node@0.1.0
  yarn: artsy/yarn@0.0.5
  queue: eddiewebb/queue@1.0.110

workflows:
  build_and_verify:
    jobs:
      - yarn/workflow-queue
      - yarn/update-cache:
          requires:
            - yarn/workflow-queue
      - yarn/relay:
          requires:
            - yarn/workflow-queue
      - yarn/lint:
          requires:
            - yarn/workflow-queue
      - yarn/type-check:
          requires:
            - yarn/workflow-queue
      - yarn/test:
          requires:
            - yarn/workflow-queue
      - yarn/auto-release:
          # The deploy job is the _only_ job that should have access to our npm
          # tokens. We include a context that has our publish credentials
          # explicitly in this step. https://circleci.com/docs/2.0/contexts/
          context: npm-deploy
          filters:
            branches:
              only:
                - master
          requires:
            - yarn/test
            - yarn/relay
            - yarn/lint
            - yarn/type-check
            - yarn/update-cache
